aside{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.top{
    width: 55px;
    height: 55px;
    color: #fff;
    background: #b9b9b9;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
     transform: translateY(100px);
}
.top:hover{
    color: #333;
}
.top:focus{
    color: #fff;
    text-decoration: none;
    outline: none;
}
.topShow{
    transform: translateY(0);
}